.mask {
    width: 100%;
    height: 100vh;
    position: relative;
  }
  
  .hero-video {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    object-fit: cover;
  }
  
  .mask::after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: black;
    opacity: 0.1;
  }
  
  .hero {
    position: relative;
    height: 100%;
    width: 100%;
  }
  
  .dark-mode .hero-video {
    filter: invert(100%);
  }
  
  .hero .content {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    text-align: center;
  }
  
  .hero .content h1 {
    font-size: 3rem;
    padding: 0.6rem 0 1.5rem;
    text-transform: uppercase;
  }
  
  .hero .content p {
    font-size: 1.4rem;
    font-weight: 400;
    text-transform: uppercase;
  }
  .home_img {
    background: url(../assets/images/dp3.png) !important;
    background-repeat: no-repeat !important;
    background-position: center !important;
    background-size: cover !important;
    width: 300px !important;
    height: 300px !important;
    box-shadow: inset 0 0 0 9px rgb(red, green, blue/30%) !important;
    order: 1 !important;
    justify-self: center !important;
    animation: profile_animate 8s ease-in-out infinite 1s !important;
  }
  @keyframes profile_animate{
    0%{
        border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
    }
    50%{
        border-radius: 30% 60% 70% 40%/50% 60% 30% 60%;
    }
    100%{
        border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
    }
}
  
  .content .btn {
    margin: 1rem 0.8rem;
  }
  
  @media screen and (max-width: 1040px) {
    .hero .content h1 {
      font-size: 3rem;
    }
  
    .hero .content p {
      font-size: 1.4rem;
    }
  }
  