@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap')

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Bebas Neue", sans-serif;
}

body {
  background: black;
}

h1, h4, p, a {
  color: red;
  text-decoration: none;
}

ul {
  list-style-type: none;
}

.btn, .btn-light {
  padding: 12px 32px;
  font-size: 1rem;
  text-transform: uppercase;
  background: red; 
  color: white; 
  border: 2px solid white;
  font-weight: 600;
  cursor: pointer;
  overflow: hidden;
  transform: skewX(-20deg);
}

.btn-light {
  background: black;
  color: red;
}
.btn:hover {
  background: rgba(255, 255, 255, 0.2); 
  color: red; 
  transition: 0.3s;
}
.btn-light:hover {
  background: rgba(255, 255, 255, 0.2); 
  color: black;
  transition: 0.3s; 
}
